{% extends "skeleton.html.jinja" %}
{% set current_page = "projects" %}
{% block title %}Edit Project{% endblock %}
{% block main %}
<div class="projects_body">
   {% if error_message %}
   <div class="alert alert-danger" role="alert">{{ error_message }}</div>
   {% endif %}
   {% if success_message %}
   <div class="alert alert-success" role="alert">{{ success_message }}</div>
   {% endif %}
   <div class="card border-dark mb-3">
     <h3 class="card-header">Edit Project - {{ project.name }}</h3>
     <div class="card-body">
        {% if rags %}
        <form id="search_for_hits_form" method="post" action="/search/{{ project.id }}">
            Find and view the significant associations for this project first, without writing to a graph:
            <button href="/project/{{ project.id }}" type="submit" class="btn btn-secondary">Search For Hits</button>
        </form>
        <hr />
        <form id="build_graph_form" method="post" action="/build/{{ project.id }}">
            Write the associations to the graph DB (may take a long time depending on the size of your data):
            <button type="submit" class="btn btn-secondary">Build Graph</button>
        </form>
        <hr />
        <form id="query_graph_form" method="get" action="/project_query/{{ project.id }}">
            After you build the graph, query it for results:
            <button type="submit" class="btn btn-secondary">Query Graph</button>
        </form>
        <hr />
        <div class="table-responsive">
          <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Associated with</th>
                  <th>P Value</th>
                  <th>Searched</th>
                  <th>Hits</th>
                  <th>Written</th>
                  <th>Validated</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% for rag in rags %}
                <tr>
                  <td>{{ rag.rag_name }}</td>
                  <td>{{ rag.rag_type }}</td>
                  <td>{{ rag.as_node_label }}</td>
                  <td>{{ rag.p_value_cutoff }}</td>
                  <td>{{ rag.searched }}</td>
                  <td>{{ rag.num_hits }}</td>
                  <td>{{ rag.written }}</td>
                  <td>{{ rag.validated }}</td>
                  <td>
                    <form id="delete-rag-form" method="post" action="/delete_rag/" role="form">
                    <button type="button" class="btn btn-secondary" onclick="return confirm('File: {{ rag.file_path }}\nNode Info: {{rag.as_node_curie}} ({{rag.as_node_type}})\nMax P Value: {{rag.max_p_value}}');">
                    <svg class="bi bi-info-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705zM10 7.5a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                    </svg>
                    </button>
                    <button name="rag_id" value="{{ rag.id }}" type="submit" type="button" class="btn btn-danger">
                    <svg class="bi bi-trash-fill" width="1.2em" height="1.2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M4.5 3a1 1 0 00-1 1v1a1 1 0 001 1H5v9a2 2 0 002 2h6a2 2 0 002-2V6h.5a1 1 0 001-1V4a1 1 0 00-1-1H12a1 1 0 00-1-1H9a1 1 0 00-1 1H4.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM10 7a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 0110 7zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
                    </svg>
                    </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        {% endif %}
        <hr/>
        <div class="row">
            <p>Enter information for a single association study: </p>
        </div>
        <div class="row">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-backdrop="static" data-target="#addRagModal">+ Add an Association Study</button>
        </div>
        <hr/>
        <div class="row">
            <p>Or use a file upload to add many studies at once: </p>
        </div>
        <div class="row">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-backdrop="static" data-target="#addRagFileModal">+ Add Studies by File</button>
        </div>
        <hr/>
     </div>
  </div>
</div>
<div class="modal fade" id="addRagModal" tabindex="-1" role="dialog" aria-labelledby="addRagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRagModalLabel">Add a New Association Study</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form id="add-rag-form" method="post" action="/project/add_rag/{{ project.id }}" role="form">
          <div class="form-group">
            <label for="new_rag_name">Association Study Name</label>
            <input type="text" class="form-control" id="new_rag_name" name="new_rag_name" placeholder="Enter a name" required>
          </div>
          <div class="form-group">
            <label for="new_rag_type">Association Study Type</label>
            <select class="form-control" id="new_rag_type" name="new_rag_type">
            <option selected>Choose the subgraph type</option>
            {% for rag_type in rag_type_list %}
              <option value="{{ rag_type }}">{{ rag_type }}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="as_node_type">Associated Node Type</label>
            <select class="form-control" id="as_node_type" name="as_node_type">
            <option selected>Choose the associated node type</option>
            {% for node_type in node_type_list %}
              <option value="{{ node_type }}">{{ node_type }}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="as_node_curie">Associated Node Curie</label>
            <input type="text" class="form-control" id="as_node_curie" name="as_node_curie" placeholder="Enter the associated node CURIE">
          </div>
          <div class="form-group">
            <label for="as_node_label">Associated Node Label</label>
            <input type="text" class="form-control" id="as_node_label" name="as_node_label" placeholder="Enter the associated node label">
          </div>
          <div class="form-group">
            <label for="p_value_cutoff">P Value Threshold</label>
            <input type="number" step="any" class="form-control" id="p_value_cutoff" name="p_value_cutoff" placeholder="Enter the minimum p value threshold">
          </div>
          <div class="form-group">
            <label for="max_p_value">Maximum P Value</label>
            <input type="number" step="any" class="form-control" id="max_p_value" name="max_p_value" placeholder="Enter the maximum p value threshold">
          </div>
          <div class="form-group">
            <label for="as_file_path">Association Study File</label>
            <input type="text" class="form-control" id="file_path" name="file_path" placeholder="Enter the file path">
            <small id="filePathHelp" class="form-text text-muted">This is the file path relative to the rags_data directory.</small>
            <small id="filePathHelp" class="form-text text-muted">For files directly inside of rags_data the file name is enough.</small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="has_tabix" name="has_tabix" checked>
            <label class="form-check-label" for="has_tabix">Has tabix indexing</label>
          </div>
          <p></p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary float-right">Save RAG</button>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addRagFileModal" tabindex="-1" role="dialog" aria-labelledby="addRagFileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRagFileModalLabel">Add Association Studies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form id="add-rag-file-form" enctype="multipart/form-data" method="post" action="/project/add_rags/{{ project.id }}" role="form">
          <div class="form-group">
            <label for="uploaded_rags_file">Select the file with RAGS info:</label>
            <input name="uploaded_rags_file" type="file" required />
          </div>
          <p></p>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary float-right">Upload RAGS Info</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}